* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Open Sans', sans-serif;
}

ul,
ol,
menu {
    list-style: none;
}

img {
    width: 100%;
}

a {
    text-decoration: none;
    color: currentColor;
    display: inline-block;
}



/* palette colori */

:root {
    --darkblue:#080B12;
    --blue: #141922;
    --dark-grey:#282828;
    --light:#FFFFFF;
}

/* Debug */

.debug #app {
    border: 1px solid red;
    padding: 20px;
}

.debug .app-container {
    border: 1px solid orange;
    
}

.debug .main-container {
    border: 1px solid purple;
    padding: 20px;
}

.debug .sidebar {
    padding: 20px;
}

.debug .toolbar {
    background-color: var(--dark-grey);
    
}


/* Utilities */
.display-flex {
    display: flex;
}

.flex-wrap {
    flex-wrap: wrap;
}

.just-between {
    justify-content: center;
}

.align-center {
    align-items: center;
}

.d-none {
    display: none;
}

/* main container */
#app {
    display: flex;
    flex-direction: column;
    height: 100vh;
    overflow: hidden;
}

.app-container {
    display: flex;
    flex-grow: 1;
    overflow: auto;
    background-color: var(--blue);
}

.sidebar {
    overflow: hidden;
    background-color: var(--darkblue);
    padding: 10px;
}

.toolbar {
    height: auto; 
}

.main-container {
    flex-grow: 1;
}

/* Toolbar */

.toolbar {
    background-color: var(--dark-grey);
    padding: 10px;
    justify-content: space-between;
}

.toolbar .toolbar-content {
    align-items: center;
}

.icon-img {
    max-width: 25px;
}

.text-tool {
    font-size: 10px;
    color: white;
    padding-left: 10px;
    padding-right: 10px;
}

.icon-tool {
    color: white;
    font-size: 10px;
}

.icon-tools-right {
    padding: 10px;
}

.player-elements {
    width: 50%;
}

.icons-container {
    color: var(--light);
    gap: 10px;
    font-size: 20px;
    justify-content: center;
}

.player-bar-container {
    color: var(--light);
    font-size: 10px;
    padding: 5px 0;
    align-items: center;
    gap: 5px;
}

.player-bar {
    position: relative;
    flex-grow: 1;
    padding-right: 5px;
    padding-left: 5px;
}

.radius {
    border-radius: 3px;
    height: 3px;
}

.player-bar-empty {
    background-color: grey;
}

.player-bar-full {
    position: absolute;
    width: 25%;
    background-color: var(--light);
}

.player-bar2 {
    align-self: center;
}

.player-icon-container {
    flex-basis: 150px;
}

.time-circle {
    width: 10px;
    height: 10px;
    border-radius: 22px;
    background-color: white;
    position: absolute;
    left: 25%;
    top: 50%;
    transform: translate(-50%, -50%);
}

.player-bar:hover .time-circle {
    display: inline-block;
}

.player-bar:hover .player-bar-full {
    background-color: greenyellow;
}

/* Sidebar */
.logo-spotify {
    max-width: 20px;
}

.sidebar {
    flex-direction: column;
    justify-content: space-between;
}

.list-sidebar {
    width: 28px;
}

.list-sidebar-bottom {
    width: 28px;
    
}

.logo-big {
    max-width: 50px;
}

.text-menu {
    color: white;
}














/**************************************
         Soluzioni Responsive
**************************************/

@media (min-width: 639px) {
    .sidebar {
        width: 150px;
        flex-shrink: 0;
    }
}




@media (min-width: 768px) {
    .icon-tool-item  { 
        display: inline-block;
        margin-right: 10px;
    }
    
    .player-icon-container {
        width: 220px;
    }

    .d-none {
        display: inline-block;
    }

    .logo-small {
        display: none;
    }

}




@media (min-width: 992px) {
    .player-bar-container {
        gap: 20px;
}




@media (min-width: 1200px) {
   
}




@media (min-width: 1400px) {
  
}